---
title: Demo
layout: default
projectTitle: 'Live2d'
hide-in-nav: true
---

<style type="text/css">
    html,body{
        height:100%;
    }
    header.intro-header{
        position: relative;
        height: 100%;
        width: 100%;
        background: url("images/bg.jpg") no-repeat center center !important;
        background-size: cover !important;
        -o-background-size: cover !important;
        -moz-background-size: cover !important;
        object-fit: cover;
    }
    canvas {
        background: transparent;
    }
</style>
<header class="intro-header style-text" id="object" >
    <div class="container" style="pointer-events: none; height: 100%;">
        <div class="row" style="pointer-events: none; height: 100%;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="pointer-events: none; height: 100%;">
                <div class="post-heading" style="pointer-events: none; ">
                    <h1 style="color: white" style="pointer-events: none;">Demonstration</h1>
                    <h2 class="subheading" style="color: white" style="pointer-events: none;">{{ page.projectTitle }}</h2>
                </div>
            </div>
        </div>
    </div>
    <canvas id="wrap" class="wrap" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto; transform: scale(1.1); -webkit-tap-highlight-color: rgba(255,255,255,0); cursor: default;"></canvas>
</header>

{% if site.disqus_username %}
<link rel="stylesheet" href="/css/iDisqus.min.css" />
<script src="/js/iDisqus.min.js"></script>
{% endif %}


<!-- Post Content -->
<article xmlns:display="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <div class="post-content">
                    <div class="reproduce-block">
                        <p>模型来源于 <a target="_blank" rel="nofollow" href="https://mx-model.ga" aria-label="梦象">梦象</a></p>
                    </div>
                </div>
                <hr style="visibility: hidden;">
                <br>
                <hr style="visibility: hidden;">
                {% if site.disqus_username %}
                <div id="comment"></div>
                {% endif %}
            </div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}
                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>




{% if site.disqus_username %}
<script>
    var disq = new iDisqus('comment', {
        forum: 'soptlog',
        api: 'https://api.soptq.me/disqus/api',
        site: 'https://soptq.me',
        identifier: window.location.href.split('?')[0],
        url: window.location.href.split('?')[0],
        mode: 1,
        timeout: 3000,
        init: true,
        emojiPreview: true
    });
</script>
{% endif %}


<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<script src="js/live2d.min.js"></script>
<script>
    let doit;
    function getRatio( ctx ) {
        return window.devicePixelRatio || 1 /
            (ctx.webkitBackingStorePixelRatio ||
                ctx.mozBackingStorePixelRatio ||
                ctx.msBackingStorePixelRatio ||
                ctx.oBackingStorePixelRatio ||
                ctx.backingStorePixelRatio || 1);
    }

    let wrap = document.getElementById("wrap");
    let WIDTH = window.innerWidth,
        HEIGHT = window.innerHeight;

    let ratio = getRatio(this.ctx);

    if (WIDTH > HEIGHT) {
        wrap.setAttribute("width", HEIGHT * ratio);
        wrap.setAttribute("height", HEIGHT * ratio);
        wrap.style.setProperty('width', HEIGHT + "px");
        wrap.style.setProperty('height', HEIGHT + "px");
        wrap.style.setProperty("transform", "scale(1.1)");
    } else {
        wrap.setAttribute("width", WIDTH * ratio);
        wrap.setAttribute("height", WIDTH * ratio);
        wrap.style.setProperty('width', WIDTH + "px");
        wrap.style.setProperty('height', WIDTH + "px");
        wrap.style.setProperty("transform", "scale(1.5)");
    }

    loadlive2d("wrap", "model/snow_miku/model.json");

    function resizedw() {
        let currentWIDTH = window.innerWidth,
            currentHEIGHT = window.innerHeight;
        if (currentWIDTH !== WIDTH && currentHEIGHT !== HEIGHT) {
            let ratio = getRatio(this.ctx);

            if (WIDTH > HEIGHT) {
                wrap.setAttribute("width", HEIGHT * ratio);
                wrap.setAttribute("height", HEIGHT * ratio);
                wrap.style.setProperty('width', HEIGHT + "px");
                wrap.style.setProperty('height', HEIGHT + "px");
                wrap.style.setProperty("transform", "scale(1.1)");
            } else {
                wrap.setAttribute("width", WIDTH * ratio);
                wrap.setAttribute("height", WIDTH * ratio);
                wrap.style.setProperty('width', WIDTH + "px");
                wrap.style.setProperty('height', WIDTH + "px");
                wrap.style.setProperty("transform", "scale(1.5)");
            }

            loadlive2d("wrap", "model/snow_miku/model.json");
        }

        WIDTH = currentWIDTH;
        HEIGHT = currentHEIGHT;
    }


    window.addEventListener('resize', function () {
        clearTimeout(doit);
        doit = setTimeout(resizedw, 500);
    });
</script>


