<style>
    .bilibili-video i {
        position: absolute;
        left: 0px;
        bottom: 0px;
        color: ghostwhite;
        padding-left: 20px;
        padding-bottom: 30px;
        font-size: 100px;
        cursor: pointer;
    }

    .bilibili-video i:hover {
        color: white;
        cursor: pointer;
    }

    @media only screen and (max-width: 1440px) {
        .fancybox-slide--iframe .fancybox-content {
            position: relative !important;
            width: 100% !important;
            height: 0 !important;
            padding-bottom: 56% !important; /* The height of the item will now be 56% of the width. */
        }
    }

    @media only screen and (min-width: 1440px) {
        fancybox-slide--iframe .fancybox-content {
            position: relative !important;
            width: 80% !important;
            height: 0 !important;
            padding-bottom: 39.2% !important; /* The height of the item will now be 56% of the width. */
        }
    }

    .fancybox-content iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    @media only screen and (max-width: 768px) {
        .bilibili-iframe {
            display: inline-block;
        }
        .bilibili-video {
            display: none;
        }
    }

    @media only screen and (min-width: 768px) {
        .bilibili-iframe {
            display: none;
        }
        .bilibili-video {
            display: inline-block;
        }
    }

</style>

<div class="extensions extensions--video bilibili-iframe">
    <iframe src="//player.bilibili.com/player.html?aid={{ include.id }}&page=1"
            frameborder="no" scrolling="no" allowfullscreen="true">
    </iframe>
</div>

<div class="bilibili-video" style="position: relative;">
    <a data-fancybox data-type="iframe" aria-label="Play" data-src="//player.bilibili.com/player.html?aid={{ include.id }}&page=1" href="javascript:;">
        <img style="cursor: pointer;border: 3px solid #000" src="https://api.soptq.me/bilibili/bilibiliCover.php?av=av{{ include.id }}">
    </a>
    <i class="fa fa-youtube-play" style="pointer-events: none;" aria-hidden="true"></i>
</div>
