<div class="download-block" style="width: 100%; height: 100px; border-radius: 5px">
    <div>
        <a rel="nofollow" href="{{ include.downurl }}" download="{{ include.title }}" aria-label="{{ include.title }}">
            <button class="btn btn-copy btn-primary pull-right" type="submit" style="color: white;height: 44px;width: 66px;border-radius: 5px;margin: 28px;float: right;padding-top:12px;">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </button>
        </a>
    </div>
    <div style="text-align: left;height: 100px;margin-right: 122px;">
        <div style="width: 100%;padding-left: 28px;padding-top: 10px;vertical-align: bottom;height: 50px;display: table-cell;font-weight: bold;text-transform: uppercase;">
            {{ include.title }}
        </div>
        <div style="width: 100%;height: 50px;padding-left: 28px;padding-bottom: 10px;font-size: 15px;line-height: 17px;">
            {{ include.content }}
        </div>
    </div>
</div>