---
title: Demo
layout: default
projectTitle: 'ThreeJS Music Visualizer'
hide-in-nav: true
---

<style type="text/css">
    html,body{height:100%;}
    header.intro-header{
        position: relative;
        height: 100%;
        width: 100%;
        /*background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')*/
    }
    canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100% ;
    }
    #down-icon{
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: white;
        pointer-events: all;
    }
    #down-icon:hover{
        color: #0085a1;
    }
    #up-icon{
        position: absolute;
        right: 20px;
        top: 0;
        color: #d0cec8;
        pointer-events: all;
    }
    #up-icon:hover{
        color: #0085a1;
    }
    #play-icon{
        margin-left: 15px;
        border-radius:100%;
        color: white;
        pointer-events: all;
        text-align: center;
        vertical-align: middle;
        horiz-align: center;
    }
    #play-icon:hover{
        color: #ea3323;
    }
</style>
<header class="intro-header style-text" id="object" >
    <div class="container" style="pointer-events: none; height: 100%;">
        <div class="row" style="pointer-events: none; height: 100%;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="pointer-events: none; height: 100%;">
                <div class="post-heading" style="pointer-events: none; ">
                    <h1 style="color: white" style="pointer-events: none;">Demonstration</h1>
                    <h2 class="subheading" style="color: white" style="pointer-events: none;">{{ page.projectTitle }}</h2>
                </div>
                <div style="position:absolute; left: 0; bottom: 0; height: fit-content; width: 100%">
                    <a href="#"><i class="fa fa-arrow-circle-down fa-3x" id="down-icon" onclick="down()" aria-label="Scroll Down"></i></a>
                </div>
                <div id="authorize">
                    <a href="#"><i class="fa fa-play fa-3x hidden" id="play-icon" aria-label="Play"></i></a>
                    <span style="color: white;" id="loading-icon"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="color: white"></i> Loading...</span>
                    <div class="reproduce-block">
                        <p style="color: white">Due to Audio Autoplay Policy, you must manually press the PLAY button to play.</p>
                        <p style="color: white">Press play button to play default music, of drop your music to play custom music.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% if site.disqus_username %}
<link rel="stylesheet" href="/css/iDisqus.min.css" />
<script src="/js/iDisqus.min.js"></script>
{% endif %}


<!-- Post Content -->
<article xmlns:display="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
                <div style="position:absolute; left: 0; top: 0; height: fit-content; width: 100%">
                    <a href="#"><i class="fa fa-arrow-circle-up fa-3x" id="up-icon" onclick="up()" aria-label="Scroll Up"></i></a>
                </div>
                <div class="post-content">

                </div>
                <hr style="visibility: hidden;">
                <br>
                <hr style="visibility: hidden;">
                {% if site.disqus_username %}
                <div id="comment"></div>
                {% endif %}
            </div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}
                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>




{% if site.disqus_username %}
<script>
    var disq = new iDisqus('comment', {
        forum: 'soptlog',
        api: 'https://api.soptq.me/disqus/api',
        site: 'https://soptq.me',
        identifier: window.location.href.split('?')[0],
        url: window.location.href.split('?')[0],
        mode: 1,
        timeout: 3000,
        init: true,
        emojiPreview: true
    });
</script>
{% endif %}


<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<script>
    // first add raf shim
    // http://www.paulirish.com/2011/requestanimationframe-for-smart-animating/
    window.requestAnimFrame = (function(){
        return  window.requestAnimationFrame       ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame    ||
            function( callback ){
                window.setTimeout(callback, 1000 / 60);
            };
    })();

    // main function
    function scrollToY(scrollTargetY, speed, easing) {
        // isScrolling = true;
        // scrollTargetY: the target scrollY property of the window
        // speed: time in pixels per second
        // easing: easing equation to use
        var scrollY = window.scrollY,
            scrollTargetY = scrollTargetY || 0,
            speed = speed || 2000,
            easing = easing || 'easeOutSine',
            currentTime = 0;
        // min time .1, max time .8 seconds
        var time = Math.max(.1, Math.min(Math.abs(scrollY - scrollTargetY) / speed, .8));
        // easing equations from https://github.com/danro/easing-js/blob/master/easing.js
        var PI_D2 = Math.PI / 2,
            easingEquations = {
                easeOutSine: function (pos) {
                    return Math.sin(pos * (Math.PI / 2));
                },
                easeInOutSine: function (pos) {
                    return (-0.5 * (Math.cos(Math.PI * pos) - 1));
                },
                easeInOutQuint: function (pos) {
                    if ((pos /= 0.5) < 1) {
                        return 0.5 * Math.pow(pos, 5);
                    }
                    return 0.5 * (Math.pow((pos - 2), 5) + 2);
                }
            };
        // add animation loop
        function tick() {
            currentTime += 1 / 60;
            var p = currentTime / time;
            var t = easingEquations[easing](p);
            if (p < 1) {
                requestAnimFrame(tick);
                window.scrollTo(0, scrollY + ((scrollTargetY - scrollY) * t));
                // if ($(document).scrollTop() === scrollTargetY ||
                //     $(document).scrollTop() === $(document).height() - $(window).height()) {
                //     setTimeout(function () {
                //         isScrolling = false;
                //     }, 100);
                // }
            } else {
                window.scrollTo(0, scrollTargetY);
                // if ($(document).scrollTop() === scrollTargetY ||
                //     $(document).scrollTop() === $(document).height() - $(window).height()) {
                //     setTimeout(function () {
                //         isScrolling = false;
                //     }, 100);
                // }
            }
        }
        // call it once to get started
        tick();
    }

// var isScrolling = false;
// var isPushing = false;
// $(document).scroll(function() {
//     var scroH = $(document).scrollTop();  //滚动高度
//     if (isPushing){
//         setTimeout(function () {
//             isPushing = false;
//         }, 5000);
//     }
//     if (!isScrolling) {
//         if (scroH < visualizer.height && scroH !== 0){
//             if (isPushing){
//                 isScrolling = true;
//                 scrollToY(0, 500, 'easeInOutQuint');
//                 isPushing = false;
//             }else {
//                 console.log(isScrolling);
//                 console.log(scroH);
//                 console.log(isPushing);
//                 $("body,html").scrollTop(visualizer.height);
//                 setTimeout(function () {
//                     isPushing = true;
//                 }, 1000);
//             }
//         }
//         if (scroH > visualizer.height){
//             isPushing = false;
//         }
//     }else {
//         if (scroH === 0){
//             isScrolling = false;
//         }
//     }
// });
</script>


<script src="https://cdn.jsdelivr.net/npm/three@0.102.1/build/three.min.js"></script>
<script src="js/OrbitControls.min.js"></script>
<script src="js/visualizer.js"></script>


