<script>
    function init_aplayer() {
        let player = document.getElementById('aplayer');
        let jsonname = player.getAttribute("data-name");
        let lrctype = player.getAttribute("data-lrc-type");
        let path = location.origin + "/data/aplayer/" + jsonname;
        const ap = new APlayer({
            container: player,
            mini: false,
            autoplay: false,
            theme: '#0085a1',
            loop: 'all',
            order: 'list',
            preload: 'auto',
            volume: 0.7,
            mutex: true,
            listFolded: false,
            listMaxHeight: 90,
            lrcType: parseInt(lrctype)
        });
        jQuery.get(path, function(data) {
            ap.list.add(data);
            ap.on('play', function () {
                if (window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0
                    > getY(player)) {
                    createSnackbar({
                        message: "PLaying: " + ap.list.audios[ap.list.index].name,
                        actionText: "Pause",
                        action: function (e) {
                            ap.pause();
                        }
                    })
                }
            });
        });
    }
</script>