<style>
    .level {
        display: flex;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .level-item {
        flex-grow: 1;
    }
    .level-heading {
        margin: 0px 0px 15px 5px;
        display: block;
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .level-title {
        margin: 0px;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.125;
    }
</style>
<hr class="visible-xs visible-sm">
<section>
    <div class="level">
        <div class="level-item">
            <div>
                <p class="level-heading">Posts</p>
                <p class="level-title" id="posts-counter"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></p>
            </div>
        </div>
        <div class="level-item">
            <div>
                <p class="level-heading">Words</p>
                <p class="level-title" id="words-counter"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></p>
            </div>
        </div>
        <div class="level-item">
            <div><p class="level-heading">Tags</p>
                <p class="level-title" id="tags-counter"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></p>
            </div>
        </div>
    </div>
    <div class="level">
        <div class="level-item">
            <div>
                <p class="level-heading">Portfolio</p>
                <p class="level-title" id="portfolio-counter"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></p>
            </div>
        </div>
        <div class="level-item">
            <div>
                <p class="level-heading">Viewers</p>
                <p class="level-title totalviews" id="viewers-counter"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></p>
            </div>
        </div>
    </div>
</section>