<style>
    .link-li {
        margin-bottom: 10px;
    }

    .link-year.enabled {
        color: #0085a1 !important;
    }
</style>

<section class="visible-md visible-lg">
    <hr>
    <h5>Blog Update Record</h5>
    <div style="display: flex">
        <div id="heatmap" style="flex-grow: 1;width: 100px;z-index: 0;"></div>
        <div style="flex-grow: 1; z-index: 1;">
            <ul style="list-style: none; padding-left: 10px">
                {% assign heatmap_year = site.time | date: '%Y' %}
                {% assign heatmap_year = heatmap_year | minus: 1%}
                {% for i in (2018..heatmap_year) %}
                <li class="link-li">
                    <a class="link-year" aria-label="Last Year" style="text-decoration: none;" href="javascript:void(0)" onclick="scrollCal(this, {{i}})" id="link-year-{{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
                {% assign heatmap_year = heatmap_year | plus: 1%}
                <li class="link-li">
                    <a class="link-year enabled" aria-label="Next Year" style="text-decoration: none;" href="javascript:void(0)" onclick="scrollCal(this, {{heatmap_year}})" id="link-year-{{ heatmap_year }}">{{ heatmap_year }}</a>
                </li>
            </ul>
        </div>
    </div>

</section>